{% load static %}
<section class="container mt-5">
    <div class="row justify-content-center mb-3">
      <div class="col-md-7 text-center">
        <span class="subheading">Преимущества</span>
        <h2 class="mb-4">Почему клиенты выбирают нас</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-2 d-flex flex-column align-items-center">
        <div class="icon text-center">
          <span class="flaticon-solar-panel-1"></span>
        </div>
        <div class="services">
          <p class="text-center">Бесплатный выезд инженера на замер</p>
        </div>
      </div>
      <div class="col-md-2 d-flex flex-column align-items-center ">
        <div class="icon text-center">
          <span class="flaticon-document"></span>
        </div>
        <div class="services">
          <p class="text-center">Работаем по договору</p>
        </div>
      </div>
      <div class="col-md-2 d-flex flex-column align-items-center ">
        <div class="icon text-center">
          <span class="flaticon-solar-energy"></span>
        </div>
        <div class="services">
          <p class="text-center">Лучшее оборудование и гарантия качества</p>
        </div>
      </div>
      <div class="col-md-2 d-flex flex-column align-items-center ">
        <div class="icon text-center">
          <span class="flaticon-solar-panel"></span>
        </div>
        <div class="services">
          <p class="text-center">Более 200 успешных проектов</p>
        </div>
      </div>
      <div class="col-md-2 d-flex flex-column align-items-center ">
        <div class="icon text-center">
          <span class="flaticon-handshake"></span>
        </div>
        <div class="services">
          <p class="text-center">Полное сопровождение сделки</p>
        </div>
      </div>
      <div class="col-md-2 d-flex flex-column align-items-center ">
        <div class="icon text-center">
          <span class="flaticon-solar-cell"></span>
        </div>
        <div class="services">
          <p class="text-center">Солнечные электростанции любой сложности</p>
        </div>
      </div>
    </div>
  </section>