{% load static %}
<section class="container-fluid form-bg pt-5">
    <div class="container">
      <div class="row justify-content-center mb-3">
        <div class="col-md-7 text-center">
          <span class="subheading">Оставить заявку</span>
          <h2 class="mb-4">Получите бесплатную консультацию</h2>
        </div>
      </div>
      <div class="row justify-content-center mb-5">
        <div class="col-md-5">
          <form action="#">
              <input type="text" class="form-control mb-3" placeholder="Выше имя">
              <input type="text" class="form-control mb-3" placeholder="Ваш номер телефона">
              <button type="submit" class="form-control submit py-2 mb-5">Оставить заявку</button>
          </form>
        </div>
      </div>
    </div>
  </section>