{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SolarPower. - {%block title %}{% endblock %}</title>
  <meta name="description" content="SolarFuture.: Солнечные электростанции. Компания Solar Future уже более 4-х лет
                                                  на рынке солнечной энергетики Украины. За это время нам удалось
                                                  реализовать более 200 успешных проектов по всей территории
                                                  нашей страны.">
  <meta name="robots" content="all" />
  <meta name="keywords" content="солнечные панели, зелёный тариф, электростанции, солнечная энергетика,
                                  солнечные панели для дома, солнечные панели для бизнеса, солнечные электростанции, сэс
                                  " />
  <meta property="og:url" content="http://www.solar-future.tech" />
  <meta property="og:title" content="Солнечные электростанции" />
  <meta property="og:description" content="Солнечные электростанции. Компания Solar Future уже более 4-х лет
                                                  на рынке солнечной энергетики Украины. За это время нам удалось
                                                  реализовать более 200 успешных проектов по всей территории
                                                  нашей страны." />
  <meta property="og:image" content="http://www.solar-future.tech/static/images/solar_panel.jpg" />
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NSBTDV5');</script>
  <!-- End Google Tag Manager -->
  <link rel="icon" href="{% static 'solar_panel/images/favicon.ico' %}" type="image/x-icon" />
  <link rel="shortcut icon" href="{% static 'solar_panel/images/favicon.ico' %}" type="image/x-icon" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontisto@v3.0.4/css/fontisto/fontisto.min.css">
  <link rel="stylesheet" href="{% static 'solar_panel/css/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'solar_panel/css/style.css' %}">
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSBTDV5"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div class="container py-3">
    <div class="row justify-content-between">
      <div class="col">
        <a class="navbar-brand" href="{% url 'home' %}">Solar<span>Future.</span></a>
      </div>
      <div class="col d-flex justify-content-end">
        <div class="social-media">
          <p class="mb-0 d-flex">
            <a href="#">
              <i class="fi fi-facebook"></i>
            </a>
            <a href="#">
              <i class="fi fi-instagram"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg nav py-0 navbar-dark">
    <div class="container">
      <div class="phone order-lg-last">
        <a href="tel:+380971705166">+38(097) 170 51 66</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
              aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if title == 'Главная' %}active {% endif %}"><a href="{% url 'home' %}" class="nav-link">Главная</a></li>
          <li class="nav-item"><a href="{% url 'home' %}#service" class="nav-link btn-request" data-goto=".service">Услуги</a></li>
          <li class="nav-item {% if title == 'Наши проекты' %}active {% endif %}"><a href="{% url 'product' %}" class="nav-link">Наши проекты</a></li>
<!--          <li class="nav-item"><a href="#" class="nav-link">Оборудование</a></li>-->
          <li class="nav-item"><a href="{%url 'green_rate' %}" class="nav-link">Зелёный тариф</a></li>
          <li class="nav-item {% if title == 'Контакты' %}active {% endif %}"><a href="{% url 'contact' %}" class="nav-link">Контакты</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% block main %}
  {% endblock %}
  <footer class="container-fluid mt-5 footer pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4>О нас</h4>
          <p>Солнечные электростанции любой сложности.</p>
          <p>Мы работаем на качественный результат и оставляем довольным каждого клиента.</p>
          <div class="social-media">
            <p class="mb-0 d-flex">
              <a href="#">
                <i class="fi fi-facebook"></i>
              </a>
              <a href="#">
                <i class="fi fi-instagram"></i>
              </a>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Наши услуги</h4>
          <p><a href="{% url 'ses_home' %}">Солнечные электростанции для дома</a></p>
          <p><a href="{% url 'ses_business' %}">Солнечные электростанции для бизнеса</a></p>
        </div>
        <div class="col-md-3">
          <h4>Контактная информация</h4>
          <p>г. Кривой Рог, просп. Героев Подпольщиков, 1б</p>
          <p><a href="tel:380971705166">+38(097) 170 51 66</a></p>
          <p>solar.future.tech@gmail.com</p>
        </div>
        <div class="col-md-3">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2674.607967731833!2d33.37356801579188!3d47.905272675290675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40db20af229efb4d%3A0x466d8ad5064c4780!2z0L_RgNC-0YHQvy4g0JPQtdGA0L7QtdCyLdC_0L7QtNC_0L7Qu9GM0YnQuNC60L7QsiwgMdCRLCDQmtGA0LjQstC-0Lkg0KDQvtCzLCDQlNC90LXQv9GA0L7Qv9C10YLRgNC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNTAwMDA!5e0!3m2!1sru!2sua!4v1631781087174!5m2!1sru!2sua" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="{% static 'solar_panel/js/countfect.min.js' %}"></script>
  {% block scripts %}
    {% if anchor %}
      <script type='text/javascript'>
        $(document).ready(function(){window.location = '#{{ anchor }}'});
      </script>
    {% endif %}
  {% endblock %}
  <script src="{% static 'solar_panel/js/scroll.js' %}"></script>
  <script src="{% static 'solar_panel/js/slick_slider.js' %}"></script>
</body>
</html>