{% extends 'solar_panel/base.html' %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock %}

{% block main %}
  <div class="container-fluid contact_screen">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
          <li class="breadcrumb-item active-crumb" aria-current="page">Зелёный тариф</li>
        </ol>
      </nav>
      <h1>Зелёный тариф</h1>
    </div>
  </div>
  <section class="container mt-5 mb-5 ses-home">
    <div class="row justify-content-center mb-3">
      <div class="col-md-7 text-center">
        <h2 class="mb-4">Зелёный тариф</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p>На сегодня в Украине строительство солнечных электростанций (СЭС) является одной из наиболее выгодных
          инвестиций. Период окупаемости СЭС 3-4 года, и уже в первый год работы станции вы сможете
          получить гарантированную прибыль до $7500 </p>
        <p>Если у вас есть в своей собственности частное домовладение, вы можете установить и подключить
          солнечную электростанцию по специальному “зеленому тарифу”, который действует по всей территории Украины.</p>
        <div class="text-center mt-5 mb-5">
          <a href="#" data-goto=".form-bg"
             class="btn btn-warning btn-request">Бесплатная консультация</a>
        </div>
        <h5 class="text-center">Что такое "зелёный тариф"?</h5>
        <p>Если сказать "простым языком", "зеленый тариф" это специальный тариф, разработанный государством,
          по которому облэнерго закупает электроэнергию у частных лиц, сгенерированную солнечными электростанциями.</p>
        <p>Данный тариф, это действующий экономический механизм в Украине для привлечения инвестиций в технологии
          использования возобновляемых источников энергии.</p>
        <p>Основой этого механизма является фактор заключения долгосрочного контракта с частным лицом на приобретение
          сгенерированной электроэнергии, на протяжение действия которого владелец
          СЭС получает надбавку (прибыль) к стоимости произведенной электроэнергии.</p>
        <p>На сегодня за произведенный один киловатт электроэнергии частное домовладение на территории
          Украины получает до …. грн чистой прибыли. Благодаря установке СЭС, вы можете на постоянной основе,
          бесплатно пользоваться электричеством, а за излишек выработанных киловатт получать прибыль!</p>
        <p>Максимальная мощность частной электростанции не должна превышать 30 кВт. Для того чтобы подключить
          "зеленый тариф" нужно получать лицензию и оформлять другие разрешительные документы.</p>
        <p>Наша компания занимается установкой солнечных электростанций "под ключ" и полностью сопровождает
          клиента в процессе оформления "зелёного тарифа"</p>
        <h5 class="text-center">Принцип работы "зелёного тарифа"</h5>
        <p>Вся вырабатываемая электроэнергия солнечной электростанцией передается в общую сеть с
          помощью инвертора. В 99% случаев количество потребляемой электроэнергии домовладением в разы
          меньше нежели производит СЭС. Поэтому за разницу между потреблением и выработанной электроэнергией
          владелец частной СЭС каждый месяц получает оплату по "зелёному тарифу"</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <img src="{% static 'solar_panel/images/scheme.png' %}" alt="">
      </div>
    </div>
  </section>
  {% include 'solar_panel/include/form.html' %}
  {% include 'solar_panel/include/benefits.html' %}
{% endblock %}