{% extends 'solar_panel/base.html' %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock %}

{% block main %}
  <div class="container-fluid main_screen">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="text-center title">
            <h2>Комплексное решение под ключ</h2>
            <h1>Солнечные электростанции <br>для дома и бизнеса</h1>
          </div>
          <div class="text-center d-flex justify-content-center ">
            <form method="post" class="mb-5 form-main p-3" id="form_1">
              <p>Бесплатная консультация прямо сейчас!</p>
              {% csrf_token %}
              {{ form.name }}
              {{ form.phone_number }}
              {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
              <button type="submit" class="form-control py-2 btn btn-warning">Оставить заявку</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="container mt-5 service" id="service">
    <div class="row">
      <div class="col-md-5 d-flex flex-column align-items-center justify-content-between">
        <div class="icon text-center">
          <span class="flaticon-home"></span>
        </div>
        <div class="services">
          <h3 class="text-center">Солнечные электростанции для дома под <a href="{% url 'green_rate' %}" class="green">зелёный тариф</a></h3>
          <ul>
            <li>Гарантированная прибыль до <span class="profit">$7500</span> в год</li>
            <li>Период окупаемости 3-4 года</li>
          </ul>
          <div class="text-center mb-5 mt-5">
            <a href="{% url 'ses_home' %}" class="btn btn-warning">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5 d-flex flex-column align-items-center justify-content-between">
        <div class="icon text-center">
          <span class="flaticon-recycling-plant"></span>
        </div>
        <div class="services">
          <h3 class="text-center">Солнечные электростанции<br>для бизнеса</h3>
          <ul>
            <li>Максимально сократите потребление электроэнергии</li>
            <li>Будьте энергонезависимы</li>
          </ul>
          <div class="text-center mb-5 mt-5">
            <a href="{% url 'ses_business' %}" class="btn btn-warning">Подробнее</a>
          </div>
        </div>
      </div>
    </div>


  </section>
  <section class="container mt-3">
    <div class="row">
      <div class="col-md-6 about-img">
      </div>
      <div class="col-md-6 pl-5 d-flex flex-column justify-content-around">
        <span class="subheading">О нас</span>
        <h2>Solar<span>Future.</span>: Солнечные электростанции</h2>
        <p>Компания Solar Future уже более 4-х лет на рынке солнечной энергетики Украины.
          За это время нам удалось реализовать более 200 успешных проектов по всей территории нашей страны.
          Мы работаем на качественный результат и оставляем довольным каждого клиента.</p>
        <p>В нашей команде дипломированные специалисты, опытные монтажники и ответственные менеджеры,
          которые помогут вам в постройке солнечной электростанции любой сложности!</p>
        <p>Оставляйте заявку, и мы с радостью ответим на ваши вопросы!</p>
      </div>
    </div>
  </section>
  <section id="section-counter">
    <div class="container">
      <div class="row">
        <div class="col-6 col-lg-3 d-flex justify-content-md-start justify-content-sm-between">
          <div class="d-flex">
            <div class="d-flex align-items-center">
              <strong class="number countfect" data-num="5">0</strong>
            </div>
            <div class="text">
              <span>Лет <br>Опыта</span>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 d-flex justify-content-start">
          <div class="d-flex">
            <div class="d-flex align-items-center">
              <strong class="number countfect" data-num="200">0</strong>
            </div>
            <div class="text">
              <span>Проектов <br>Выполнено</span>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 d-flex justify-content-start">
          <div class="d-flex">
            <div class="d-flex align-items-center">
              <strong class="number countfect" data-num="15">0</strong>
            </div>
            <div class="text">
              <span>Лет <br>Гарантии</span>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 d-flex justify-content-start">
          <div class="d-flex">
            <div class="d-flex align-items-center">
              <strong class="number countfect" data-num="12050">0</strong>
            </div>
            <div class="text">
              <span>Панелей <br>Продано</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid">
    <div class="row ">
      {% for product in products %}
      <a href="{{ product.get_absolute_url }}" class="col-md-4 p-0 work-btn">
        <div class="work d-flex flex-column justify-content-end" style="background-image: url({{ product.main_photo.photo.url }});">
          <div class="px-3">
            <div class="mb-3 work-text">
              <span>{{ product.region }} область</span>
              <br>
              <span>Занимаемая площадь {{ product.area|floatformat:"0" }} кв.м</span>
              <h4>СЭС {{ product.power|floatformat:"0" }} кВт</h4>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>
  {% include 'solar_panel/include/calculate.html' %}
  {% include 'solar_panel/include/form.html' %}
  {% include 'solar_panel/include/benefits.html' %}
{% endblock %}